<div class="container about mt-5" id="about" >
    <div class="row">
        <div class="col-8">
            <h3 class="fst-italic fw-semibold fs-3 mb-3 anout">ABOUT</h3>
            <h1 class="fst-italic fs-5 fw-bold mb-4 text-black-50">Who I Am</h1>
            <p class="text-black-50">I'm front-end developer with 2 years of experience designing and building responsive web.<br>
                I'v HTML5 , CSS (Bootstrap and Material UI), Sass, JavaScript, Angular.JS .<br>
                Some of Git & Github.<br>

            </p>
            <p class="text-black-50">
                I started studying programming a 2 years ago and went a long way.<br>
                To gain more coding experience, I completed Udacity Cross Skilling Angular Nanodegree, which taught me
                Components, Libraries, and Data to develop my own web applications.
            </p>
        </div>
        <div class="col-4">
            <img src="https://img.freepik.com/free-vector/developer-activity-concept-illustration_114360-2801.jpg" alt="image" class="img-fluid">
        </div>
    </div>
</div>