<section class="mt-5" id="projects">
    <div class="container m-auto">
        <h1 class="fs-3 mb-5 pro fw-semibold">Projects</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="member mb-5">
                    <div class="content-overlay"></div>
                    <img src="./docs/assets/image/Screenshot (100).png" alt="image Project" class="img-fluid">
                   <div class="overlay">
                        <a href="https://mahmouddoma.github.io/sass_project/" target="_blank" class="">
                            <button type="btn" class="btn">Visit</button>
                        </a>
                   </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="member mb-5">
                    <div class="content-overlay"></div>
                    <img src="./docs/assets\image\Screenshot (96).png" alt="image Project" class="img-fluid w-100">
                   <div class="overlay">
                        <a href="https://mahmouddoma.github.io/Packaging-store/" target="_blank" class="">
                            <button type="btn" class="btn">Visit</button>
                        </a>
                   </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="member mb-5">
                    <div class="content-overlay"></div>
                    <img src="./docs/assets\image\Screenshot (98).png" alt="image Project" class="img-fluid w-100">
                   <div class="overlay">
                        <a href="https://mahmouddoma.github.io/Shop_cart/" target="_blank" class="">
                            <button type="btn" class="btn">Visit</button>
                        </a>
                   </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="member mb-5">
                    <div class="content-overlay"></div>
                    <img src="./docs/assets\image\Screenshot (102).png" alt="image Project" class="img-fluid w-100">
                   <div class="overlay">
                        <a href="https://mahmouddoma.github.io/sass_project/" target="_blank" class="">
                            <button type="btn" class="btn">Visit</button>
                        </a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>