h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
}
.container {
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label,
  .btn {
    font-weight: bold;
    font-family: 'Edu NSW ACT Foundation', cursive;
  }
  
  textarea {
    resize: none;
  }
  .contact {
    background-color: #434242;
    color: white;
  }
.fa-envelope,
.fa-phone,
.fa-linkedin {
   padding: 15px;
   background-color:rgb(160, 165, 170);
   box-shadow: 3px 6px 11px #6c757d;
   color: #09082d;
   border-radius: 50px;
   cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}