<div class="container" id="Abilities">
    <h1 class="skills mb-5 fw-bold mt-3">My Skills</h1>

   <div class="row">
        <div class="col-6 m-auto">
            <div class="d-flex mb-5 justify-content-between align-items-center">
                <span class="fs-5 fw-normal">HTML5</span>
                <div class="pe-5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
            <div class="d-flex mb-5 justify-content-between align-items-center">
                <span class="fs-5 fw-normal">CSS3</span>
                <div class="pe-5 ">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
            <div class="d-flex mb-5 justify-content-between align-items-center">
                <span class="fs-5 fw-normal">Sass</span>
                <div class="pe-5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
            <div class="d-flex mb-5 justify-content-between align-items-center ju\">
                <span class="fs-5 fw-normal">Bootstrap</span>
                <div class="pe-5 ">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
        </div>
        
        <div class="col-6">
            <div class="d-flex mb-5 justify-content-between align-items-center">
                <span class="fs-5 fw-normal">Git & Github</span>
                <div class="pe-5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
            <div class="d-flex mb-5 justify-content-between align-items-center">
                <span class="fs-5 fw-normal">JavaScript</span>
                <div class="pe-5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
            <div class="d-flex mb-5 justify-content-between align-items-center">
                <span class="fs-5 fw-normal">Angular.JS</span>
                <div class="pe-5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>

                </div>    
            </div>
        </div>
   </div>
   <hr class="container m-auto w-50">
    <div class="row mt-5">
        <h1 class="skills fw-semibold fs-3 mb-5">Languages</h1>
        
        <div class="col-md-12 d-flex">
            <div class="col-4">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-5 fw-normal">Arabic</span>
                    <div class="pe-5">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        
                    </div>    
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-5 fw-normal">English</span>
                    <div class="pe-5">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
    
                    </div>    
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-5 fw-normal">French</span>
                    <div class="pe-5">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
    
                    </div>    
                </div>
              </div>
        </div>
     
          
    </div>
</div>

