.skills {
    font-family: 'Libre Baskerville', serif;
    color: #0087ca;
}
.fa-star,
.fa-regular {
    font-size: 15px;
    color: cornflowerblue;
}
hr {
    color: black;
}
@media only screen and (max-width: 600px) {
    .awesome {
        display: inherit;
    }
}