<div class="head text-center mt-5" id="home">
    <h1 class="py-4 text-black-50 fs-3">
        Hi, I’m <span class="name"> Mahmoud Doma</span>
    </h1>
    <h1 class="py-2 text-gray-700 fs-2">
        A Front-End Web Developer
    </h1>
    <p class="py-4 text-gray-600 m-auto w-50">
        I’m focused on building responsive front-end web applications and learning more framework. <br>
        UI / UX developer
    </p>
    <div class="links mb-5">
        <a href="https://github.com/mahmouddoma">
            <span>
                <i class="fa-brands fa-github me-3"></i>
            </span>
        </a>
    
        <a href="https://www.linkedin.com/in/mahmoud-doma-4520a222a/">
            <span>
                <i class="fa-brands fa-linkedin"></i>
            </span>
        </a>
    
        <a href="mailto:devdoma2002@gmail.com" class="ms-3" >
            <i class="fa-solid fa-envelope"></i>
        </a>
    
        <a href="https://twitter.com/Mahmouddoma20" class="ms-3">
             <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</div>
